    * {
        margin: 0;
        padding: 0;
        
    }
    /* BODY*/
    body {
        max-width: 90%;
        margin: 40px;
        background-color: #3116ED;
        background-image: url(https://images.unsplash.com/photo-1585314062604-1a357de8b000?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        color: grey;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;        ;
    }

    /* HEADER */
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin: 50px 0;
        color: grey;
    }
    
    main {
        display: flex;
        flex-direction: column;
    }
    blockquote {
        margin: auto;
        font-size: 160%;
        background-color: #B8B8B8;
        border-left: 3px solid firebrick;
        padding-left: 30px;
        margin-top: 80px;
        margin-bottom: 80px;
        /* opacity: 0.6; */
        font-style: italic;
    }
    img {
        height: auto;
        width: 1000px;
        
    }
    h4 {
        margin-left: 20px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        font-size: 18px;
        color: grey;
    }
    .villagers {
        border-left: 2px solid firebrick;
        font-style: italic;
    }
    .farmer {
        border-left: 2px solid green;
        font-style: italic;
    }
    .bad {
        text-transform: capitalize;
        color: red;
    }
    .good {
        text-transform: capitalize;
        color: green;
    }
    header:nth-child(1) {
        background-color: yellow;
    }

    /* LINK */
    a {
        
        color: white;
        /* transform: scale(1.5); */
        transition: transform .2s;
        /* background-color: white; */
    }
    a:hover {
        text-decoration: underline;
        transform: scale(1.5);
        transition: transform .2s;
        color: red;
    }

    /* TABLE */
    table {
        border: solid;
        width: 30%;
    }
    tr {
        background-color: #303030;
    }
    tr:nth-child(odd) td:nth-child(even) {
        background-color: white;
    }
    tr:nth-child(even) td:nth-child(odd) {
        background-color: white;
    }

    /* LISTE */
    ul {
        display: inline-block;
        width: fit-content;
        margin: 30px;
    }
    li {
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 30px;
        background-size: contain;
        font-size: 18px;
    }
    ul li:nth-child(1) {
        background-image: url(https://i.ibb.co/rmFck1w/bien.png);
    }
    ul li:nth-child(2) {
        background-image: url(https://i.ibb.co/bXLGvzb/mal.png)
    }
    ul li:nth-child(3) {
        background-image: url(https://i.ibb.co/HVZbnvM/chat.png);
    }

    /* TOOLTIP */
    .masterTooltip {
        position: absolute;
        /* border: 1px solid #333; */
        /* background-color: #161616; */
       /*  padding: 10px; */
        color: grey;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        margin:  0 5px;
    }
    h2 {
        text-align: center;
        margin: 30px;
        text-decoration: underline;
    }

    /* CARD 1 */
    section.card1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 50px;
    }
    section.card1 p {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 30px;
        color: grey;
        font-weight: bold;
        font-size: 18px;
    }
    section.card1 h2 {
        display: flex;
        flex-direction: row;   
    }

    /* CARD 2 */
    section.card2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
    section.card2 h2 {
        display: flex;
        flex-direction: row;  
    }
    section.card2 p {
        margin-top: 20px;
        margin-left: 30px;
        color: grey;
        font-size: 18px;
        text-align: left;
    }
    hr {
        margin: 20px;
    }
    h3 {
        text-align: right;
        margin: 0 35px;
    }
    h2 a {
        color: black;
        
        
    }
    aside.notification {
            background:#FFFFDD;
            padding:.5rem 1rem;
            border:3px solid #DDDDCC;
            width:250px;
            font-weight:bold;
            color: #333300;
            position: fixed;
            bottom: 1px;
            right: 1px;
        }
